/* background: radial-gradient(ellipse at 70% 70%,#ee583f 8%,#d92d77 42%,#bd3381 58%); */
*, *:before, *:after {
  box-sizing: inherit;
}
html { 
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100%;
}

body { 
  margin: 0; 
  min-height: 100%;
  background-color: #fafafa;
}

.container {
  max-width: 935px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main {
  flex: 1;
  display: flex;
}
.mainLeft,
.mainRight {
  width: 50%;
  outline: 1px dashed blue;
}

.mainRightForm {
  width: 350px;
  border: 1px solid #e6e6e6;
  background-color: white;
  margin-left: 16px;
  padding: 20px 40px;
}
.mainRightFormTitle {
  text-indent: 9000px;
  overflow: hidden;
  outline: 1px dashed tomato;
  width: 175px;
  height: 51px;
  background-image: url("https://www.instagram.com/static/bundles/base/sprite_core.png/d72dcf68ab6a.png");
  background-repeat: no-repeat;
  background-position: 0 -264px;
}
.mainRightFormFacebook {
  height: 28px;
  background-color: #3897f0;
  width: 100%;
  border: 1px solid #3897f0;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 24px;
}
.mainRightFormFacebook img {
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -2px;
}
.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.or {
  margin: 16px 0;
  height: 1px;
  background-color: black;
  position: relative;
}
.or span {
  position: absolute;
  top: -5px;
  left: calc(50% - 26px);
  padding: 0 16px;
  color: #999;
  font-weight: bold;
  font-size: 13px;
  background-color: white;
}
.footer nav a {
  color: #003569;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding-right: 10px;
}

.footer span {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}
.input input {
  width: 100%;
  margin-bottom: 16px;
  height: 28px;
  vertical-align: middle;
  }

.signup {
  height: 28px;
  background-color: #3897f0;
  width: 100%;
  border: 1px solid #3897f0;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 24px;
}
.signuptext {
  text-align: center;
}
